<footer>
  <div class="f-info">
    <div class="mt-3">
        <p><b>Connect with me</b></p>
    </div>
    <div class="f-info-socials">
      <a
        class="social-media"
        href="https://www.linkedin.com/in/sayan-chatterjee-019aa4293/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>

      <a class="social-media" href="https://github.com/sayan-chatterjee2001"
        ><i class="fa-brands fa-github"></i
      ></a>

      <a
        class="social-media"
        href="https://www.facebook.com/sayan.chatterjee.37017794"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>

      <a
        class="social-media"
        href="https://www.instagram.com/_sayanchatterjee_/"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
    </div>

    <div class="f-info-brand mt-3">&copy; WanderLust pvt. ltd.</div>
    <div class="f-info-links mt-3">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
