<footer>
  <div class="upper-f">
    <div class="upper-f-info">
      <div class="upper-f-list-head mt-5"><b>Support</b></div>
      <div class="upper-f-list mt-2"><a href="">Help Centre</a></div>
      <div class="upper-f-list mt-2"><a href="">WanderCover</a></div>
      <div class="upper-f-list mt-2"><a href="">Anti-discrimination</a></div>
      <div class="upper-f-list mt-2"><a href="">Disability support</a></div>
      <div class="upper-f-list mt-2"><a href="">Cancellation options</a></div>
      <div class="upper-f-list mt-2"><a href="">Report neighbourhood concern</a></div>
    </div>

    <div class="upper-f-info-2">
      <div class="upper-f-list-head mt-5"><b>Hosting</b></div>
      <div class="upper-f-list mt-2"><a href="">WanderLust your home</a></div>
      <div class="upper-f-list mt-2"><a href="">WanderCover for hosts</a></div>
      <div class="upper-f-list mt-2"><a href="">Hosting resources</a></div>
      <div class="upper-f-list mt-2"><a href="">Community forrum</a></div>
      <div class="upper-f-list mt-2"><a href="">Hosting responsibility</a></div>
      <div class="upper-f-list mt-2"><a href="">Join a free Hosting class</a></div>
    </div>

    <div class="upper-f-info-3">
      <div class="upper-f-list-head mt-5"><b>WanderLust</b></div>
      <div class="upper-f-list mt-2"><a href="">Newsroom</a></div>
      <div class="upper-f-list mt-2"><a href="">New features</a></div>
      <div class="upper-f-list mt-2"><a href="">Careers</a></div>
      <div class="upper-f-list mt-2"><a href="">Investors</a></div>
      <div class="upper-f-list mt-2"><a href="">WanderLust.org emergency stays</a></div>
      <div class="upper-f-list mt-2"><a href="">Join us!</a></div>
    </div>
  </div>

  <div class="f-info">
    <div class="mt-3">
      <p><b>Connect with me</b></p>
    </div>
    <div class="f-info-socials">
      <a
        class="social-media"
        href="https://www.linkedin.com/in/sayan-chatterjee-019aa4293/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>

      <a class="social-media" href="https://github.com/sayan-chatterjee2001"
        ><i class="fa-brands fa-github"></i
      ></a>

      <a
        class="social-media"
        href="https://www.facebook.com/sayan.chatterjee.37017794"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>

      <a
        class="social-media"
        href="https://www.instagram.com/_sayanchatterjee_/"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
    </div>

    <div class="f-info-lang mt-3">
      <i class="fa-solid fa-globe"></i
      >&nbsp;&nbsp;English(IN)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;INR
    </div>

    <div class="f-info-brand mt-3">&copy; 2024 WanderLust Inc.</div>
    <div class="f-info-links mt-3">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/terms">Sitemap</a>
      <a href="/terms">Company details</a>
    </div>
  </div>
</footer>
