<% layout("/layouts/boilerplate") %>
<style>
  :root {
    --primary-color: white;
    --secondary-color: #222;
    --nav-color: #222222;
    --footer-color: #f1efef;
  }

  .dark-theme {
    --primary-color: #35374b;
    --secondary-color: white;
    --nav-color: white;
    --footer-color: #35374b;
  }

  body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .input-container {
    position: relative;
  }

  .eye-icon {
    position: absolute;
    top: 63%;
    right: 8px;
    transform: translate(-50%);
    cursor: pointer;
    color: #222 !important;
  }
</style>

<div class="row mt-3">
  <h3 class="col-6 offset-3 mb-3">SignUp for WanderLust</h3>
  <div class="col-6 offset-3">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter username"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3 input-container">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
        <i
          class="fa-regular fa-eye eye-icon"
          id="showPasswordIcon"
          onclick="togglePasswordVisibility()"
        ></i>
        <i
          class="fa-regular fa-eye-slash eye-icon"
          id="hidePasswordIcon"
          onclick="togglePasswordVisibility()"
          style="display: none"
        ></i>
      </div>
      <button class="btn btn-success mb-3">Sign up</button>
    </form>
  </div>
</div>

<script>
  function togglePasswordVisibility() {
    let passwordInput = document.getElementById("password");
    let showPasswordIcon = document.getElementById("showPasswordIcon");
    let hidePasswordIcon = document.getElementById("hidePasswordIcon");

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      showPasswordIcon.style.display = "none";
      hidePasswordIcon.style.display = "block";
    } else {
      passwordInput.type = "password";
      showPasswordIcon.style.display = "block";
      hidePasswordIcon.style.display = "none";
    }
  }
</script>
